<?php

// https://github.com/FriendsOfPHP/PHP-CS-Fixer

$rules = [
    '@Symfony' => true,
    
];

$finder = PhpCsFixer\Finder::create()
        ->in(__DIR__);

return PhpCsFixer\Config::create()
        ->setRules($rules)
        ->setUsingCache(false);


